@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-erode: 'Erode', sans-serif;
    --font-satoshi: 'Satoshi', sans-serif;
  }
  

  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 100px;
      height: 10px;
      position: absolute;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #D9D9D9;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #302A36;
 
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #302a36d6;
    }
  }